<!DOCTYPE html>
<html>
<head>
  <title>CaseNote</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700", media: 'all' %>

</head>
<body>

<%= yield %>

</body>
</html>
